@import "~antd/dist/antd.less";
// Using a variable here to workaround an issue parsing the URL directly
@google-fonts: "https://fonts.googleapis.com/css2?family=Caveat&family=Nunito%3Awght%40200&display=swap";
@import url("@{google-fonts}");

// Ant Design vars here: https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less
@primary-color: fade(#ff914d, 85%); //light orange
@border-radius-base: 15px;
@body-background: #fffff6; //cream
@component-background: #fffff6; //cream
@font-family: Nunito, sans-serif;
@icon-color: #549bea; //blue
@font-size-base: 18px;
@background-color-base: #fffff6; //cream
@btn-primary-bg: #549bea; //blue
// @btn-primary-bg: #ff00ff; //magenta (test)
@btn-height-base: 50px;
@label-required-color: #549bea; //blue

body {
    font-family: 'Nunito', sans-serif;
}

// Calendar
@import "calendar.less";

// Computers-List
@import "computers-list-style.less";

// CardSection
@import "CardSectionStyles.less";

// Modal
@import "Modal.less";