@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Nunito:wght@200&display=swap");

@import url("https://fonts.googleapis.com/css?family=Caveat+Brush");

html {
  background-color: #fffff6;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

.content {
  background-color: #fffff6;
  width: 100%;
  min-height: 87vh;
}

#dashboard {
  background-color: #f2f2e9;
  min-height: 87vh;
  padding-bottom: 47px;
  width: 100%;
}

footer {
  background-color: #fffff6;
  font-family: "Nunito";
  height: 50px;
  text-align: center;
  padding-top: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.navbar {
  border-bottom: 4px solid #ff914d;
  background-color: #fffff6;
  padding-bottom: 15px;
}

#navbarTogglerDemo02 {
  padding-top: 20px;
}

h1,
.vbb-header {
  font-family: "Caveat Brush", cursive;
  font-style: italic;
  font-variant: small-caps;
  letter-spacing: 3px;
  font-size: 3em;
  color: #4c4c49;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 23px;
  padding-left: 25px;
}

h5 {
  font-family: "Caveat", cursive;
  font-weight: bold;
  font-size: 40px;
  padding-top: 30px;
}

p {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  padding-left: 50px;
}

a {
  color: #549bea;
}

.badge {
  background-color: #6ac66b;
  margin-left: 20px;
  font-size: medium;
  font-weight: 900;
  font-family: "Nunito", cursive;
}

#bar-header {
  font-weight: bold;
  color: #4c4c49;
}

#bar-header:hover {
  color: #549bea;
}

#bar-header-link:hover {
  color: transparent;
}

#welcome-header {
  font-size: 60px;
}

#portal-purpose {
  color: #6ac66b;
  font-family: "Nunito";
  font-weight: 900;
  padding-top: 5px;
}

/* BUTTONS */

.btn {
  font-family: "Caveat Brush", cursive;
  font-style: italic;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 22px;
  color: white;
  border-radius: 18px;
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
}

.btn:hover {
  background-color: #4c4c49;
  color: #fffff6;
}

.dashboard-btn {
  width: 275px;
  font-family: "Nunito", cursive;
  font-weight: bold;
  font-size: 20px;
  color: white;
  letter-spacing: normal;
}

.signin-btn,
#requestsession-btn,
.book-btn,
.l3-btn,
.l8-btn {
  background-color: #6ac66b;
}

.donate-btn,
.gcal-btn,
.signup-btn,
.l1-btn,
.l6-btn {
  background-color: #549bea;
}

.signout-btn,
.l2-btn,
.l5-btn {
  background-color: #ff914d;
}

.l4-btn,
.l7-btn {
  background-color: #ffbd59;
}

.donate-btn {
  margin-right: 20px;
}

.goback-btn {
  background-color: gray;
  margin: 10px;
}

#requestsession-btn {
  margin: 10px;
}

hr {
  border: 0.7px solid gainsboro;
}

#sep-bar {
  width: 85%;
}

.twocol-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-count: 2;
}

#mentoring-resources-box {
  flex-direction: row;
}

.dashboard-btn {
  margin: 20px;
}

.column {
  flex: 2;
  width: 100%;
  margin: 2vw;
  padding: 30px;
  border-radius: 30px;
}

#signin-box {
  text-align: center;
  position: relative;
  bottom: 65px;
}

#google-box {
  border-radius: 10px;
  max-width: 362px;
  margin: auto;
}

#create-account-box {
  border-radius: 10px;
  padding: 20px;
  max-width: 450px;
  margin: auto;
}

#signin-picture-box {
  margin: 5vw;
  max-width: 800px;
}

.col-card {
  background-color: #fffff6;
  min-height: 650px;
}

.loading-spinner {
  margin-top: 50%;
  margin-left: 50%;
}

#full-logo {
  display: block;
}

#mini-logo {
  display: none;
}

/* BOOKING */

.booking-fields {
  max-width: 450px;
  padding: 10px;
}

select {
  float: right;
  width: 220px;
}

label {
  font-size: large;
  font-weight: 500;
  max-width: 90%;
}

#mentor,
#commitment {
  float: right;
  margin-top: 10px;
}

/* DESKTOP ADJUSTMENTS */

@media all and (min-width: 990px) {
  #bar-header {
    margin-left: 20vw;
    width: 300px;
  }

  #signup-btn {
    margin-left: 5vw;
  }

  .btn-pair {
    position: absolute;
    right: 40px;
    top: 20px;
  }

  #booking-header {
    font-size: 40px;
    padding-top: 30px;
  }

  .btns {
    /* padding-left: 40px; */
  }

  #signin-box {
    min-width: 400px;
    margin-top: 150px;
  }
}

/* TABLET AND MOBILE ADJUSTMENTS */

@media (max-width: 990px) {
  #bar-header {
    margin-top: -5px;
  }

  #booking-header {
    font-size: 30px;
  }

  .badge {
    font-size: small;
    margin-left: 10px;
  }

  .column {
    margin: 5vw;
    min-width: 350px;
  }

  #signin-picture {
    display: none;
  }

  #booking-picture {
    display: none;
  }

  .vbb-header {
    font-size: 2.5em;
  }

  #signin-box {
    top: 10px;
  }
}

/* MOBILE ADJUSTMENTS */

@media (max-width: 600px) {
  #full-logo {
    display: none;
  }

  #mini-logo {
    display: block;
  }

  footer {
    font-size: 13px;
  }

  p {
    font-size: 16px;
  }

  h1 {
    font-size: 35px;
  }

  #bar-header {
    margin-top: -20px;
    font-size: 40px;
  }

  select {
    width: 120px;
  }

  #welcome-header {
    width: 270px;
    margin: auto;
  }
}

/* SUPER MOBILE ADJUSTMENTS */

@media (max-width: 355px) {
  .badge {
    display: none;
  }
}
